POSTGRES_IMAGE=postgres:17.6-alpine
S3MOCK_IMAGE=adobe/s3mock:5.1.0
S3_BIND_ADDRESS=127.0.0.1
APP_TIKTOK_RESOLVER_PROVIDER=rapidapi
RAPIDAPI_TIKTOK_HOST=tiktok-downloader-download-tiktok-videos-without-watermark.p.rapidapi.com
APIFY_TIKTOK_ACTOR_ID=lurkapi~tiktok-scraper-all-in-one
